{% extends 'base.html' %}
{% block content %}

<h1>Albums:</h1>
<br>
<br>
<div class="create-button">
    <a class="create" href="{% url 'create_album' %}">Add Album</a>
</div>


<div class="page">
    {% for album in albums %}
    <div class="albums">
        {% if album.cover %}
        <img class="images" src="{{ album.cover.url }}">
        {% else %}
        <p>NO IMAGE</p>
        {% endif %}
        <p><a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a> by {{ album.artist }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}